/* Inicio Banner */

@keyframes banner {
    from { transform: translatex(-100%); }
    to { transform: translatex(250%); }
}

.banner-container h1 {
    animation: banner 10s linear infinite;
}

.banner-container:hover h1 {
    animation-play-state: paused;
}

/* Fin Banner */


/* Inicio Disparo */

.shot {
    position: absolute;
    z-index: 100;
    background-color: red;
}

/* Fin Disparo */