body {
    overflow: hidden;
    background: #000;
}

.main-container {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

/* Inicio Contenedor Izquierdo */

.left-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-container {
    width: 80%;
    height: 10vh;
    color: #fff;
    border: 6px solid #fff;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Press Start 2P', cursive;
}

.title-container {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1%;
}

.title-container p {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0;
    user-select: none;
}

.score-container h1 {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

/* Fin Contenedor Izquierdo */

/* Inicio Contenedor Derecho */

.right-container {
    width: 15%;
}

/* Fin Contenedor Derecho */

/* Inicio Game Container */

.game-container {
    width: 75%;
    border: 10px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.invader-container {
    width: 100%;
    height: 45vh;
    margin: 1% 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.invaders-container {
    width: 90%;
    height: 10vh;
    border: 10px solid #fff;
}

.fortification-container {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.shells-container {
    width: 90%;
    height: 15vh;
    border: 5px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.shell {
    width: 10%;
    height: 60%;
    border: 1px solid #fff;
}

.player-container {
    width: 90%;
    height: 10vh;
    margin: 0 0 1% 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.player {
    position: absolute;
    bottom: 0;
}

.player img {
    width: 50%;
    height: 100%;
}

/* Fin Game Container */

.banner-container {
    width: 100%;
    height: 8vh;
    color: #fff;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    font-family: 'Press Start 2P', cursive;
}

.banner-container span {
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 1px;
}

.banner-container a {
    color: #0000FF;
    text-decoration: none;
}

.banner-container img {
    width: 60px;
    height: 60px;
}